.Products {

    &__toolbar {
        padding-top: 40px;
        display: flex;
        color: #51abff;
        align-items: center;
        justify-content: space-between;

        button {
            background: #fff;
            border: 2px solid #51ABFF;
            color: #51ABFF;
            font-size: 20px;
            font-weight: 500;
            line-height: 24.38px;

            border-radius: 10px;
            padding: 6px 0;
            width: 264px;
            white-space: nowrap;

            &>*+* {
                margin-left: 25px;
            }
        }

        div {
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 10px;


        }
    }

    .Products__btn-filter {
        border: none;
        width: inherit;
    }

    .Product__filter-menu {
        margin: 30px 0 0 0;
        border-top: 1px solid #51ABFF8C;
        display: flex;
        padding: 20px 0;
        gap: 200px;

        h4 {
            font-size: 20px;
            font-weight: 500;
            line-height: 24.38px;
            text-align: left;
            padding-bottom: 50px;

        }
    }

    .Product__filter-range {
        p {
            font-size: 15px;
            font-weight: 500;
            line-height: 18.29px;
            text-align: left;

        }

        label {
            display: flex;
            align-items: center;
            position: relative;
            padding: 60px 0 19px 0;
            outline: none;

            input {
                width: 320px;
                height: 1px;

            }

            .range-content {
                font-size: 12px;
                font-weight: 500;
                line-height: 14.63px;
                text-align: left;

                position: absolute;
                left: 50%;
                top: 0px;
                white-space: nowrap;
                background: #51ABFF36;
                color: #00000066;
                transform: translateX(-50%);
                padding: 10px 15px;
                transition: opacity ease 0.5s;
            }

            .range-content::before {
                content: '';
                position: absolute;
                left: 50%;
                top: 100%;
                transform: translateX(-50%);
                border: solid 15px;
                border-color: #51ABFF36 #ffffff00 #ffffff00 #ffffff00;

            }

            input[type='range']::-webkit-slider-runnable-track {
                background: none;
                width: 100%;
                cursor: pointer;
            }

            input[type='range']::-webkit-slider-thumb {
                -webkit-appearance: none;
                height: 242px;
                border-radius: 50%;
                width: 242px;
            }
        }
    }

    .Product__filter-item {
        label {
            display: flex;
            gap: 15px;
            font-size: 15px;
            font-weight: 500;
            line-height: 18.29px;
            text-align: left;
            padding-top: 22px;
        }

        input {
            border-radius: unset;
            width: 20px;
            height: 20px;
            border: none;
            background: #000;

        }

        //         input[type = checkbox]:checked:focus{
        // background: #000;
        //         }

    }
}



.Products-cards {
    h1{
        padding: 90px 0 50px 0;
    }
    .Products__row {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        gap: 30px 24px;
        
       
      
    }
}
